.logo img {
  max-width: 150px;
  height: auto;
}

/* Responsive design */

@media (max-width: 768px) {
  .logo {
    justify-self: start;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}
