.hero-image-section {
  position: relative;
  height: 514px;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-white);
  padding: 2rem;
  z-index: 1;
  text-align: center;
}

.hero-image-text {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  max-width: 800px;
}

.hero-image-title {
  font-family: var(--font-primary);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-primary-white);
  border-bottom: 2px solid var(--color-primary-yellow);
  padding-bottom: 0.5rem;
  text-align: center;
}

.hero-image-subtitle {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: var(--color-primary-white);
  text-align: center;
}

/* Responsive design */

@media (max-width: 768px) {
  .hero-image-section {
    height: 400px;
  }

  .hero-image-title {
    font-size: 2rem;
  }

  .hero-image-subtitle {
    font-size: 1.1rem;
  }
}
