.header {
  background-color: var(--color-primary-white);
  padding: 1rem 0;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Responsive design */

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 0;
  }

  .header-content {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 1rem;
  }
}
