/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@500&display=swap");

:root {
  --font-primary: "Markazi Text", serif;
  --font-secondary: "Karla", sans-serif;
  --color-primary-white: #ffffff;
  --color-primary-dark-green: #495e57;
  --color-primary-yellow: #f4ce14;
  --color-primary-orange: #ff6600;
  --color-secondary-beige: #ee9972;
  --color-secondary-pink: #fbdabb;
  --color-highlight-light-grey: #edefee;
  --color-highlight-dark-grey: #333333;
  --color-highlight-white: #ffffff;
  --color-highlight-light-grey-alt: #d9d9d9; /* New highlight color */
  --spacing-xs: 0.5rem; /* Extra small spacing */
  --spacing-sm: 0.75rem; /* Small spacing */
  --spacing-md: 1rem; /* Medium spacing */
  --spacing-lg: 1.5rem; /* Large spacing */
  --spacing-xl: 2rem; /* Extra large spacing */
  --color-text: #000000;
  --color-hover: var(--color-primary-dark-green);
}

body {
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-highlight-dark-grey);
  background-color: var(--color-highlight-light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary-dark-green);
}

h1 {
  font-size: 2.5rem; /* Adjust according to your design */
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--color-highlight-dark-grey);
}

/* Primary Button */
.button-primary {
  background-color: var(--color-primary-yellow);
  color: var(--color-highlight-dark-grey);
  font-family: var(--font-primary);
  font-size: 1.125rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Links */
a {
  color: var(--color-secondary-beige);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary-pink);
}

/* Additional Utility Classes */
.text-dark-green {
  color: var(--color-primary-dark-green);
}

.bg-dark-green {
  background-color: var(--color-primary-dark-green);
}

.bg-light-grey {
  background-color: var(--color-highlight-light-grey);
}

.bg-yellow {
  background-color: var(--color-primary-yellow);
}
